@model Unicorn.Models.NVL

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý Nguyên vật liệu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Nguyên vật liệu</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới Nguyên vật liệu</h3>
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_NVL" class="control-label"></label>
                <input asp-for="ID_NVL" class="form-control" />
                <span asp-validation-for="ID_NVL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_DVT" class="control-label"></label>
                <input asp-for="ID_DVT" class="form-control" />
                <span asp-validation-for="ID_DVT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mo_ta" class="control-label"></label>
                <input asp-for="Mo_ta" class="form-control" />
                <span asp-validation-for="Mo_ta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SL_ton" class="control-label"></label>
                <input asp-for="SL_ton" class="form-control" />
                <span asp-validation-for="SL_ton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguon_goc" class="control-label"></label>
                <input asp-for="Nguon_goc" class="form-control" />
                <span asp-validation-for="Nguon_goc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DG_mua" class="control-label"></label>
                <input asp-for="DG_mua" class="form-control" />
                <span asp-validation-for="DG_mua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DG_ban" class="control-label"></label>
                <input asp-for="DG_ban" class="form-control" />
                <span asp-validation-for="DG_ban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Loai" class="control-label"></label>
                <input asp-for="ID_Loai" class="form-control" />
                <span asp-validation-for="ID_Loai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}